src/main/mule/3rootprosessorproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ce59de9-f72f-4d39-b3ed-f6b9961152ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="3rootprosessorprojectFlow" doc:id="414c9224-f65a-4a21-9fcc-f0949373911d" >
		<http:listener doc:name="Listener" doc:id="47743789-02a1-4e60-aed4-c50e4244f99d" config-ref="HTTP_Listener_config" path="/root"/>
		<set-payload value='hello india' doc:name="Set Payload" doc:id="847a5702-0a4b-4cb8-af18-138e54113345" />
		<logger level="INFO" doc:name="Logger" doc:id="d7e85e7b-a610-4559-a402-229a3ca6b55d" message="#[payload]"/>
	</flow>
</mule>
